<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/500.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="wrapper">
        <div class="box">
        <h1 id="hhh">500</h1>
        <p id="ppp">Sorry, INTERNAL SERVER ERROR</p>
        <p id="ppp">&#58;&#40;</p>
        <p id="ppp"><a href="/"> try again!</a></p>
        </div>
        </div>

<%- include('includes/end.ejs') %>